.card-title{
    margin-top: 2%;
    margin-bottom: 5%;
    /*font-family: Arial, sans-serif;*/
}
.title{
    margin-left: -30%;
}
.button{
    background: #0d6efd;width: 50%;
    color: white
}
#res{
    margin-top: 10px;
    font-weight: bold;
}